
#audiography-wrapper,
#audiography-wrapper p {
	font-size: 16px;
}

.hidden-content {
	display: none; 
}

#existing-segments .list-group-item, 
#current-segment-description {
	overflow: hidden; 
}

.color-swatch {
	width: 16px;
	height: 16px;
	display: inline-block;
}

.audiographic-container {
	background-color: #fff;
}

/*.zoom-container {
	display: none; 
}*/

@media(max-width: 720px){
/*	.zoom-container {
		display: none; 
	}*/
}